/* Cubic Bezier Transition */
/***
Login page
***/

.login .logo {
  margin: 0 auto;
  margin-top: 60px;
  padding: 15px;
  text-align: center; }

.login #auth {
    background-color: white;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    width: 360px;
    margin: 0 auto;
    padding: 0 15px;
    padding-top: 10px;
    overflow: hidden;
    position: relative; 
}

.login #auth h3 {
    color: #181c1f;
    text-align: center;
    font-size: 22px;
    line-height: 1.1em;
    margin-bottom: 5px;
    margin-top: 2px;
    font-weight: 400 !important; 
}

.login #auth h4 {
    line-height: 1.3em;
    color: #555555;
    text-align: center;
    font-size: 16px;
    margin-bottom: 25px;
}

.login #auth h4 a {
    text-decoration: none;
    font-weight: 400;
}

.login #auth .hint {
  color: #999;
  padding: 0;
  margin: 15px 0 7px 0; }

.login #auth .login-form,
.login #auth .forget-form {
  padding: 0px;
  margin: 0px; }

.login #auth .form-control {
    height: 43px;
    border-color: #141619;
    border-width: 2px;
}
.login #auth .form-control:focus, .login #auth .form-control:active {
    border-color: #12aaeb; 
}

.login #auth .form-control::-moz-placeholder {
    color: #8290a3;
    opacity: 1; 
}
  
.login #auth .form-control:-ms-input-placeholder {
    color: #8290a3; 
}
  
.login #auth .form-control::-webkit-input-placeholder {
    color: #8290a3; 
}

.login #auth select.form-control {
  padding-left: 9px;
  padding-right: 9px; }

.login #auth .forget-form {
  display: none; }

.login #auth .register-form {
  display: none; }

.login #auth .form-actions {
    clear: both;
    border: 0px;
    padding: 5px 0 15px;
}
  .login #auth .form-actions > .btn {
    margin-top: -2px; }

.login-options {
  margin-top: 30px;
  margin-bottom: 30px;
  overflow: hidden; }

.login-options h4 {
  float: left;
  font-weight: 600;
  font-size: 15px;
  color: #7d91aa !important; }

.login-options .social-icons {
  float: right;
  padding-top: 3px; }

.login-options .social-icons li a {
  border-radius: 15px 15px 15px 15px !important;
  -moz-border-radius: 15px 15px 15px 15px !important;
  -webkit-border-radius: 15px 15px 15px 15px !important; }

.login #auth .form-actions .checkbox {
  margin-left: 0;
  padding-left: 0; }

.login #auth .forget-form .form-actions {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 20px; }

.login #auth .register-form .form-actions {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 0px; }

.login #auth .form-actions .btn {
  margin-top: 1px; }

.login #auth .form-actions .btn {
  font-weight: 600;
  padding: 10px 20px !important; }

.login #auth .form-actions .btn-default {
  font-weight: 600;
  padding: 10px 25px !important;
  color: #6c7a8d;
  background-color: #ffffff;
  border: none; }

.login #auth .form-actions .btn-default:hover {
  background-color: #fafaff;
  color: #45b6af; }

.login #auth .forget-password {
  font-size: 14px;
  float: right;
  display: inline-block;
  margin-top: 10px; }

.login #auth .check {
  color: #8290a3; }

.login #auth .rememberme {
  margin-left: 8px; }

.login #auth .create-account {
  margin: 0 -40px -30px -40px;
  padding: 15px 0 17px 0;
  text-align: center;
  background-color: #6c7a8d;
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  -ms-border-radius: 0 0 7px 7px;
  -o-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px; }
  .login #auth .create-account > p {
    margin: 0; }

.login #auth .create-account p a {
  font-weight: 600;
  font-size: 14px;
  color: #c3cedd; }

.login #auth .create-account a {
  display: inline-block;
  margin-top: 5px; }
  
.hr_or {
    background-color: #f9f9f9;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.span_or {
    display: block;
    position: absolute;
    left: 50%;
    top: -0.6em;
    margin-left: -1.5em;
    background-color: white;
    width: 3em;
    text-align: center;
    text-transform: uppercase;
}

/* footer copyright */
.login .copyright {
  text-align: center;
  margin: 0 auto 30px 0;
  padding: 10px;
  color: #7a8ca5;
  font-size: 13px; }

@media (max-width: 440px) {
  /***
  Login page
  ***/
  .login .logo {
    margin-top: 10px; }
  .login #auth {
    width: 280px;
    margin-top: 10px; }
  .login #auth h3 {
    font-size: 22px; }
  .forget-password {
    display: inline-block;
    margin-top: 20px; }
  .login-options .social-icons {
    float: left;
    padding-top: 3px; }
  .login .checkbox {
    font-size: 13px; } }