@font-face {
	font-family: 'TrajanPro';
	src: url('../fonts/TrajanPro-Regular.eot');
	src: local('☺'), url('../fonts/TrajanPro-Regular.woff') format('woff'), url('../fonts/TrajanPro-Regular.ttf') format('truetype'), url('../fonts/TrajanPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}